:root {
	font-family: 'Montserrat', sans-serif;
}

.flex {
	display: flex;
	justify-content: space-around;
}

@media (max-width: 400px) {
	.flex {
		flex-direction: column;
	}
}

.center {
	width: 100%;
	font-size: 30px;
	text-align: center;
}

.progress-bar {
	margin: auto;
	display: block;
	height: 18px;
	width: 90%;
	border: 1px gray solid;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.progress-bar span {
	display: block;
	height: 100%;
}

.percentage {
	margin-top: 5px;
	font-size: 12px;
	font-weight: bold;
}

#life {
	padding: 30px 0 30px 0;
	margin: 10px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#life p:not(.percentage) {
	margin: 20px;
}

#buttons {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	margin: 10px;
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

#buttons .control {
	padding: 5px;
	border-radius: 5px;
	border: 1px aliceblue solid;
	height: 40px;
	width: 200px;
	cursor: pointer;
}

#buttons .start-button {
	width: 250px;
	background-color: darkseagreen;
}

#buttons .attack {
	color: white;
	background-color: indianred;
}

#buttons .special-attack {
	color: white;
	background-color: darkred;
}

#buttons .heal {
	background-color: lightgreen;
}

#buttons .run {
	background-color: darkkhaki;
}

#buttons .button-icon {
	padding-left: 20px;
	height: 10px;
	display: inline;
}

#actions {
	margin: 50px 10px 10px 10px;
}

#actions li,
#actions ul {
	padding: 0;
}

#actions li {
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 13px;
	padding: 5px;
	list-style-type: none;
	text-align: center;
	margin-top: 5px;
	margin-right: 10px;
}

#actions li.m {
	color: white;
	background-color: lightcoral;
}

#actions li.p {
	background-color: lightgreen;
}

